body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../img/fondoregistro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

form {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo más transparente */
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 480px;
    width: 400px;
    text-align: center;

}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 18px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

p, a {
    display: inline;
    text-decoration: none;
    margin: 30px 0px;
}
section{
    margin-top: 40px;
}
p{
    margin: 30px 0px; 
}
a{
    color: #45a049;

}

p a:hover, form a:hover {
    text-decoration: underline;
}